* {
    text-align: left;
}

body {
    background-color: #FFFEF6;
}

h2 {
    color: #25218C;
    text-align: center;
}

.experience {
    color: #000000;
    text-align: left;
    border: 2px solid #000000;
    cursor: pointer;
    margin-bottom: 20px;
    padding: 0px 10px;
}